@import "https://fonts.googleapis.com/css?family=Mada";

body {
  position: relative;
  max-width: 100%;
  background-color: #0f1011;
  flex-direction: column;
  font-family: "Mada", sans-serif;
}

.container {
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.playlists-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  min-width: 50%;
  padding: 10px;
  margin: auto;
}

.playlists {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 25%;
  position: relative;
}

.songs-table {
  background-color: #202526;
  border-radius: 5px;
  max-height: 500px;
  overflow: scroll;
}

.songs-table::-webkit-scrollbar {
  width: 1em;
  border-radius: 5px;
  scroll-behavior: smooth;
}

.songs-table::-webkit-scrollbar-track {
  border-radius: 5px;
}

.songs-table::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.songs-container {
  padding: 5px 10px 5px 10px;
  position: inherit;
  width: fit-content;
  display: flex;
  color: #d7dee1;
}

.songs {
  position: inherit;
}

.dashboard {
  padding-top: 15px;
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.top-tracks-title {
  /* text-decoration: underline; */
  color: #d7dee1;
}
.top-tracks {
  min-width: fit-content;
  background-color: #202526;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.tracks {
  border-top: black;
}
.track-p {
  color: #d7dee1;
}

.top-artist {
  max-width: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 500px;
  overflow: scroll;
  border-radius: 25px;
  padding: 50px;
}

.top-artist::-webkit-scrollbar {
  display: none;
}

.artist {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  max-height: 500px;
  position: relative;
}
.artist-img {
  max-width: 200px;
  max-height: 150px;
  display: flex;
  position: relative;
}

.artist-img-name {
  position: absolute;
  z-index: 100;
  color: #d7dee1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playlist-img {
  position: relative;
  display: flex;
}

/* .playlist-img:hover {
  opacity: 0.5;
} */

.playlist-options {
  opacity: 0;
}
.playlist-options:hover {
  opacity: 1;
}
.view-all-songs {
  border: solid #202526;
  border-radius: 10px;
  background-color: #202526;
  padding: 2px;
  position: absolute;
  z-index: 50;
  color: #d7dee1;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.view-all-songs:hover {
  text-decoration: underline;
}
.play-songs {
  position: absolute;
  z-index: 50;
  color: #d7dee1;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid #202526;
  border-radius: 10px;
  background-color: #202526;
}

.play-songs:hover {
  text-decoration: underline;
}

.playlist-modal {
  position: absolute;
  top: 40%;
  left: 15%;
  z-index: 100;
}

.playlist-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.newMusicContainer {
  display: flex;
  max-width: 1000px;
}

.artists-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 800px;
  max-width: 200px;
}

.rec-selector {
  max-width: 300px;
  max-height: 500px;
  padding: 15px;
  position: relative;
  /* top: 15rem; */
  align-content: center;
  padding-left: 25px;
  justify-content: center;
}

.rec-selector > p {
  color: rgb(215, 222, 225);
  font-size: 25px;
  align-content: center;
  justify-content: center;
  position: relative;
}

.rec-selector button {
  position: relative;
  left: 5rem;
}

.recommended {
  position: relative;
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  top: 4rem;
  left: 10rem;
  max-width: 200px;
}

.recommended-container {
  display: flex;
}

.recommended-single {
  position: relative;
  padding: 20px;
  color: #d7dee1;
  text-align: -webkit-center;
}
/*
adding to test commit
2
*/

.login-page {
  position: absolute;
  text-align: -webkit-center;
  /* left: 23%; */
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 5000px; */
  max-height: -webkit-fill-available;
}