@import 'https://fonts.googleapis.com/css?family=Mada';

body {
  position: relative;
  max-width: 100%;
  background-color: #292f31;
  flex-direction: column;
	font-family: 'Mada', sans-serif
}

.container {
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
}
.playlists-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  min-width: 50%;
  padding: 25px;
  margin: auto;

}

.playlists {
  display:flex;
  flex-direction: column;
  padding: 25px;
  max-height: 25%;
  position: relative;
}

.songs-table {
  background-color: gray;
  border-radius: 25px;
  max-height: 500px;
  overflow: scroll;
}

.songs-table::-webkit-scrollbar {
  width: 1em;
  border-radius: 25px;
  scroll-behavior: smooth;
}

.songs-table::-webkit-scrollbar-track {
  border-radius: 25px;
}

.songs-table::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 25px;
}

.songs-container {
  padding: 0px 10px 0px 10px;
  position: inherit;
  width: fit-content;
  display: flex;
}

.songs {
  position: inherit;
}

.dashboard {
  padding-top: 15px;
  min-width: 100%;
  display: flex;
}

.top-tracks {
  min-width: fit-content;
  background-color: gray;
  border-radius: 25px;
}
.tracks {
  border-top: black;
}
.track-p {
  color: whitesmoke;
}

.top-artist {
  max-width: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 500px;
  overflow: scroll;
  border-radius: 25px;
  
}

.artist {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  max-height: 500px;
  position: relative;
}
.artist-img {
  max-width: 200px;
  max-height: 200px;
  display: flex;
  position: relative;
}

.artist-img:hover {
  opacity: 0.5;
}

.artist-img-name {
  position: absolute;
  z-index: 100;
  color:whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playlist-img {
  position: relative;
  display: flex;
}

/* .playlist-img:hover {
  opacity: 0.5;
} */

.playlist-options {
  opacity: 0;
}
.playlist-options:hover {
  opacity: 1;
}
.view-all-songs {
  border: solid grey;
  border-radius: 10px;
  background-color: grey;
  padding: 2px;
  position: absolute;
  z-index: 100;
  color: whitesmoke;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  
}

.view-all-songs:hover {
  text-decoration: underline;
  
  
}
.play-songs {
  position: absolute;
  z-index: 100;
  color: whitesmoke;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
}

