@import 'https://fonts.googleapis.com/css?family=Mada';

body {
  position: relative;
  max-width: 100%;
  background-color: #292f31;
  flex-direction: column;
	font-family: 'Mada', sans-serif
}

.container {
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
}
.playlists-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  min-width: 50%;
  padding: 50px;
  margin: auto;

}

.playlists {
  display:flex;
  flex-direction: column;
  padding: 25px;
  max-height: 25%;
}

.songs-table {
  background-color: gray;
  border-radius: 25px;
  max-height: 500px;
  overflow: scroll;
}

.songs-table::-webkit-scrollbar {
  width: 1em;
  border-radius: 25px;
  scroll-behavior: smooth;
}

.songs-table::-webkit-scrollbar-track {
  border-radius: 25px;
}

.songs-table::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 25px;
}

.songs-container {
  padding: 0px 10px 0px 10px;
  position: inherit;
  width: fit-content;
  display: flex;
}

.songs {
  position: inherit;
}

.dashboard {
  padding-top: 25%;
  min-width: 100%;
  display: flex;
}

.top-tracks {
  min-width: 45%;
}

.top-artist {
  min-width: 73%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 700px;
  overflow: scroll;
  
}

.artist {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  max-height: 500px;
}
.artist-img {
  max-width: 250px;
  max-height: 250px;
  display: flex;
}